.container {
  width: 100%;
  border: black solid 1px;
  display: flex;
  height: 172px;
  font-family: monospace, Arial, Helvetica, sans-serif;
  border-radius: 10px;
  box-shadow: 0 0px currentColor, 5px 5px currentColor;
}
.container div h3:nth-child(1) {
  color: black;
}
.container:hover {
  color: yellow;
  transition: 0.5s;
  cursor: pointer;
}
.descri_container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.img img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.title_container {
  font-size: 15px;
  color: tomato;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  width: 150px;
  /* cursor: pointer; */
}
/* .title_container h2:hover {
  color: yellow;
} */
.status_container {
  display: flex;
  gap: 5px;
}
.gender_container {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 5px;
}
.species_container {
  display: flex;
  gap: 5px;
}
.container_mobile {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  border-radius: 10px;
  border: black solid 1px;
  margin-left: 5px;
  height: 172px;
  box-shadow: 0 0px currentColor, 5px 5px currentColor;
}
.container_mobile .title_container {
  width: 200px;
}
.container_mobile div h3:nth-child(1) {
  color: black;
}
.container_mobile:hover {
  color: yellow;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 480px) {
  .container_mobile {
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 10px;
    transition: 0.5s;
  }
}
